/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

/* Base Styles */

body{

}

header{
  background: url(../images/pencil1.jpg) no-repeat center top;
}

/* Layout */

#container {
  width: 100%;
  margin: none;
}


/* Additional Styles */

h1{
  font-size: 34px;
  font-family: "Montserrat", Arial, sans-serif;
  text-align: center;
  letter-spacing: 4px;
}

h2{
  font-size: 72px;
  font-family: "Bitter", Georgia, serif;
  text-align: center;
  font-weight: 400;
}

#about{
  background-color: #f2f2f2;
}

h3{
  font-size: 26px;
  font-family: "Montserrat", Arial, sans-serif;
  text-align: center;
  letter-spacing: 4px;
  color: #f26b2b;
}

p{
  font-size: 18px;
  font-family: "Bitter", Georgia, serif;
  text-align: center;
  font-weight: 400;
  color: #333333;
}

#contact{
  background-color: #f2f2f2;
}

form{
  text-align: center;
}

input{
  font-family: "Bitter", Georgia, serif;
  border-radius: 5px;
  border: none;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  margin-bottom: 20px;
}

div .message{
  padding-bottom: 80px;
}

#submit{
  margin-top: -10px;
  padding-left: 200px;
  padding-right: 200px;
}

footer{
  background-color: #333333;
  border-top: #00bccc, 5px, solid;
  overflow: auto;
}

footer p{
  padding-top: 20px;
  color: white;
}






